# MongoDB Tasks

**DB Connection**

In [391]:
import pymongo
from datetime import datetime, timedelta

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["sample_mflix"]

**Movies from year 2000**

In [392]:
movies = list(db["movies"].find({"year": 2000}).limit(20))
print(f"\nFound {len(movies)} item(s):")
for movie in movies:
    title = movie.get('title', 'N/A')
    year = movie.get('year', 'N/A')
    print(f"- {title} ({year})")

Found 20 item(s):
- In the Mood for Love (2000)
- State and Main (2000)
- Songs from the Second Floor (2000)
- April Captains (2000)
- Chicken Run (2000)
- Mission: Impossible II (2000)
- The Million Dollar Hotel (2000)
- X-Men (2000)
- The Emperor's New Groove (2000)
- Titan A.E. (2000)
- Return to Me (2000)
- The Million Dollar Hotel (2000)
- Waking the Dead (2000)
- Dinosaur (2000)
- The Adventures of Rocky & Bullwinkle (2000)
- Scream 3 (2000)
- Duets (2000)
- Pitch Black (2000)
- Cement (2000)
- The Road to El Dorado (2000)

**Movies with genre comedy**

In [393]:
movies = list(db["movies"].find({"genres": "Comedy"}).limit(20))
print(f"\nFound {len(movies)} item(s):")
for movie in movies:
    title = movie.get('title', 'N/A')
    genres = movie.get('genres', 'N/A')
    print(f"- {title} ({genres})")

Found 20 item(s):
- Gertie the Dinosaur (['Animation', 'Short', 'Comedy'])
- Winsor McCay, the Famous Cartoonist of the N.Y. Herald and His Moving Comics (['Animation', 'Short', 'Comedy'])
- The Immigrant (['Short', 'Comedy', 'Drama'])
- The Poor Little Rich Girl (['Comedy', 'Drama', 'Family'])
- Wild and Woolly (['Comedy', 'Western', 'Romance'])
- From Hand to Mouth (['Comedy', 'Short', 'Action'])
- One Week (['Short', 'Comedy'])
- High and Dizzy (['Comedy', 'Short'])
- The Saphead (['Comedy'])
- The Kid (['Comedy', 'Drama', 'Family'])
- Miss Lulu Bett (['Comedy', 'Drama'])
- Now or Never (['Comedy', 'Short'])
- Safety Last! (['Comedy', 'Romance', 'Thriller'])
- Three Ages (['Comedy'])
- Cops (['Short', 'Comedy', 'Family'])
- Our Hospitality (['Comedy', 'Family'])
- The Navigator (['Action', 'Comedy'])
- Go West (['Comedy', 'Western'])
- The Freshman (['Comedy', 'Family', 'Sport'])
- Sherlock Jr. (['Comedy', 'Family', 'Fantasy'])

**Movies with IMDb rating of over 8.0**

In [394]:
movies = list(db["movies"].find({"imdb.rating": {"$gt": 8.0}}).limit(20))
print(f"\nFound {len(movies)} item(s):")
for movie in movies:
    title = movie.get('title', 'N/A')
    rating = movie.get('imdb', {}).get('rating', 'N/A')
    print(f"- {title} (IMDb: {rating})")

Found 20 item(s):
- One Week (IMDb: 8.3)
- The Kid (IMDb: 8.4)
- Safety Last! (IMDb: 8.3)
- Tol'able David (IMDb: 8.1)
- The Navigator (IMDb: 8.1)
- The Big Parade (IMDb: 8.3)
- Sherlock Jr. (IMDb: 8.3)
- The Gold Rush (IMDb: 8.3)
- Ben-Hur: A Tale of the Christ (IMDb: 8.1)
- Ella Cinders (IMDb: 8.1)
- Flesh and the Devil (IMDb: 8.1)
- Metropolis (IMDb: 8.3)
- The General (IMDb: 8.3)
- Sunrise (IMDb: 8.4)
- The Cameraman (IMDb: 8.3)
- Show People (IMDb: 8.3)
- The Passion of Joan of Arc (IMDb: 8.4)
- The Wind (IMDb: 8.4)
- Man with a Movie Camera (IMDb: 8.4)
- All Quiet on the Western Front (IMDb: 8.1)

**Movies with title and year**

In [395]:
movies = list(db["movies"].find({}, {"title": 1, "year": 1, "_id": 0}).limit(20))
print(f"\nFound {len(movies)} item(s):")
for movie in movies:
    title = movie.get('title', 'N/A')
    year = movie.get('year', 'N/A')
    print(f"- {title} ({year})")

Found 20 item(s):
- Traffic in Souls (1913)
- The Land Beyond the Sunset (1912)
- Blacksmith Scene (1893)
- A Corner in Wheat (1909)
- Gertie the Dinosaur (1914)
- In the Land of the Head Hunters (1914)
- The Birth of a Nation (1915)
- The Cheat (1915)
- The Italian (1915)
- Regeneration (1915)
- Winsor McCay, the Famous Cartoonist of the N.Y. Herald and His Moving Comics (1911)
- Hell's Hinges (1916)
- Intolerance: Love's Struggle Throughout the Ages (1916)
- Where Are My Children? (1916)
- The Immigrant (1917)
- The Poor Little Rich Girl (1917)
- Wild and Woolly (1917)
- The Blue Bird (1918)
- Les vampires (1915)
- Civilization (1916)

**Locations in Berlin**

In [396]:
listings = list(db["airbnb"].find({"address.market": "Berlin"}).limit(20))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    market = listing.get('address', {}).get('market', 'N/A')
    print(f"- {name} ({market})")

Found 0 item(s):

**Locations with min. 2 bedrooms**

In [397]:
listings = list(db["airbnb"].find({"bedrooms": {"$gt": 2}}).limit(20))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    bedrooms = listing.get('bedrooms', 'N/A')
    print(f"- {name} ({bedrooms} bedrooms)")

Found 20 item(s):
- Ribeira Charming Duplex (3 bedrooms)
- 3 chambres au coeur du Plateau (3 bedrooms)
- Apartamento zona sul do RJ (3 bedrooms)
- Large railroad style 3 bedroom apt in Manhattan! (3 bedrooms)
- Cozy aptartment in Recreio (near Olympic Venues) (3 bedrooms)
- Amazing and Big Apt, Ipanema Beach. (3 bedrooms)
- Private OceanFront - Bathtub Beach. Spacious House (4 bedrooms)
- BBC OPORTO 4X2 (4 bedrooms)
- Aluguel Temporada Casa São Conrado (4 bedrooms)
- Greenwich Fun and Luxury (4 bedrooms)
- Cheerful new renovated central apt (3 bedrooms)
- Bondi Beach Dreaming 3-Bed House (3 bedrooms)
- Jubilee By The Sea (Ocean Views) (4 bedrooms)
- Grand apartment Sagrada Familia (4 bedrooms)
- Ribeira Smart Flat (3 bedrooms)
- GREAT Apartment at Barra da Tijuca (3 bedrooms)
- Lovely ap at Leblon beach (3 bedrooms)
- Colonial Mansion in Santa Teresa (6 bedrooms)
- CASA PARA AS OLIMPIADAS 2016 (4 bedrooms)
- Great location in Barcelona (4 bedrooms)

**Locations with WIFI**

In [398]:
listings = list(db["airbnb"].find({"amenities": "Wifi"}).limit(20))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    print(f"- {name} (WiFi available)")

Found 20 item(s):
- Ribeira Charming Duplex (WiFi available)
- New York City - Upper West Side Apt (WiFi available)
- Charming Flat in Downtown Moda (WiFi available)
- Catete's Colonial Big Hause Room B (WiFi available)
- Horto flat with small garden (WiFi available)
- Apt Linda Vista Lagoa - Rio (WiFi available)
- Private Room in Bushwick (WiFi available)
- Ligne verte - à 15 min de métro du centre ville. (WiFi available)
- Modern Spacious 1 Bedroom Loft (WiFi available)
- 3 chambres au coeur du Plateau (WiFi available)
- Ótimo Apto proximo Parque Olimpico (WiFi available)
- Deluxe Loft Suite (WiFi available)
- Double Room en-suite (307) (WiFi available)
- Copacabana Apartment Posto 6 (WiFi available)
- Nice room in Barcelona Center (WiFi available)
- Easy 1 Bedroom in Chelsea (WiFi available)
- Cozy house at Beyoğlu (WiFi available)
- Ocean View Waikiki Marina w/prkg (WiFi available)
- City center private room with bed (WiFi available)
- Downtown Oporto Inn (room cleaning) (WiFi available)

**Price under 100 USD**

In [399]:
listings = list(db["airbnb"].find({"price": {"$lt": 100}}).limit(20))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    price = listing.get('price', 'N/A')
    print(f"- {name} (${price})")

Found 20 item(s):
- Ribeira Charming Duplex ($80.00)
- Private Room in Bushwick ($40.00)
- Ligne verte - à 15 min de métro du centre ville. ($43.00)
- Modern Spacious 1 Bedroom Loft ($50.00)
- Nice room in Barcelona Center ($50.00)
- Cozy house at Beyoğlu ($58.00)
- Downtown Oporto Inn (room cleaning) ($40.00)
- A Casa Alegre é um apartamento T1. ($40.00)
- Be Happy in Porto ($30.00)
- Room Close to LGA and 35 mins to Times Square ($46.00)
- Private Room (2)  in Guest House at Coogee Beach ($64.00)
- Friendly Apartment, 10m from Manly ($36.00)
- Cozy Nest, heart of the Plateau ($34.00)
- Makaha Valley Paradise with OceanView ($95.00)
- Small Room w Bathroom Flamengo Rio de Janeiro ($71.00)
- A bedroom far away from home ($45.00)
- FloresRooms 3T ($31.00)
- Room For Erasmus ($37.00)
- A large sunny bedroom ($35.00)
- Studio convenient to CBD, beaches, street parking. ($45.00)

**Locations in Vienna with more than 2 bedrooms and WIFI**

In [400]:
listings = list(db["airbnb"].find({"$and": [{"address.market": "Vienna"},{"bedrooms": {"$gt": 2}},{"amenities": "Wifi"}]}).limit(20))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    bedrooms = listing.get('bedrooms', 'N/A')
    market = listing.get('address', {}).get('market', 'N/A')
    print(f"- {name} ({bedrooms} bedrooms, {market})")

Found 0 item(s):

**Average price of Locations in Paris**

In [401]:
result = list(db["airbnb"].aggregate([{"$match": {"address.market": "Paris"}}, {"$group": {"_id": None, "avg_price": {"$avg": "$price"}, "count": {"$sum": 1}}},
    {"$limit": 20}]))
print(f"\nFound {len(result)} result(s):")
if result:
    avg_price = result[0]['avg_price']
    count = result[0]['count']
    print(f"- Average price in Paris: ${avg_price:.2f} ({count} listings)")

Found 0 result(s):

**Top 5 locations in Amsterdam**

In [402]:
listings = list(db["airbnb"].find({"address.market": "Amsterdam"}).sort("review_scores.review_scores_rating", -1).limit(5))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    rating = listing.get('review_scores', {}).get('review_scores_rating', 'N/A')
    print(f"- {name} ({rating})")

Found 0 item(s):

**Locations with kitchen and a washer**

In [403]:
listings = list(db["airbnb"].find({"$and": [{"amenities": "Kitchen"}, {"amenities": "Washer"}]}).limit(20))
print(f"\nFound {len(listings)} item(s):")
for listing in listings:
    name = listing.get('name', 'N/A')
    print(f"- {name} (Kitchen & Washing Machine)")

Found 20 item(s):
- Ribeira Charming Duplex (Kitchen & Washing Machine)
- New York City - Upper West Side Apt (Kitchen & Washing Machine)
- Charming Flat in Downtown Moda (Kitchen & Washing Machine)
- Horto flat with small garden (Kitchen & Washing Machine)
- Apt Linda Vista Lagoa - Rio (Kitchen & Washing Machine)
- Ligne verte - à 15 min de métro du centre ville. (Kitchen & Washing Machine)
- Modern Spacious 1 Bedroom Loft (Kitchen & Washing Machine)
- 3 chambres au coeur du Plateau (Kitchen & Washing Machine)
- Ótimo Apto proximo Parque Olimpico (Kitchen & Washing Machine)
- Deluxe Loft Suite (Kitchen & Washing Machine)
- Copacabana Apartment Posto 6 (Kitchen & Washing Machine)
- Nice room in Barcelona Center (Kitchen & Washing Machine)
- Cozy house at Beyoğlu (Kitchen & Washing Machine)
- Ocean View Waikiki Marina w/prkg (Kitchen & Washing Machine)
- THE Place to See Sydney's FIREWORKS (Kitchen & Washing Machine)
- GOLF ROYAL RESIDENCE SUİTES(2+1)-2 (Kitchen & Washing Machine)
- Apartamento zona sul do RJ (Kitchen & Washing Machine)
- A Casa Alegre é um apartamento T1. (Kitchen & Washing Machine)
- The LES Apartment (Kitchen & Washing Machine)
- Sydney Hyde Park City Apartment (checkin from 6am) (Kitchen & Washing Machine)

**Weatherdata from January 1st 2016**

In [404]:
target_day = datetime(1984, 3, 5)
start = target_day
end = start + timedelta(days=1)

entries = list(db["weather"].find({"ts": {"$gte": start, "$lt": end}}).limit(20))
print(f"\nFound {len(entries)} item(s):")
for entry in entries:
    name = entry.get('st', 'N/A')
    print(f"- {name}")

Found 20 item(s):
- x+45200-066500
- x+47600-047900
- x+51900+003600
- x+60900-005300
- x+66300-025200
- x+59800-029700
- x+49700-055900
- x+79800-172000
- x+59500+001500
- x+55600+004800
- x+47600-000700
- x+68400+011800
- x+67400+010500
- x-39600+173400
- x+56500+002100
- x+47400-070400
- x+55300+005000
- x+21100+116200
- x+43700-059700
- x+63200-016100

**Temperature above 30°C**

In [405]:
entries = list(db["weather"].find({"airTemperature.value": {"$gte": 30}}).limit(20))
print(f"\nFound {len(entries)} item(s):")
for entry in entries:
    name = entry.get('st', 'N/A')
    print(f"- {name}")

Found 20 item(s):
- x+47600-000700
- x+47400-070400
- x+43400-065600
- x+21900-072800
- x+41700-068400
- x+03600-109000
- x+46700-059900
- x+56400+002000
- x+06800+116200
- x+28500-066400
- x+45500+153000
- x+44400+164800
- x+37100+003700
- x+02800-006400
- x+61200+021500
- x+48900-067600
- x+22600-085900
- x+43700-059900
- x+48000-029000
- x-01200-005200

**Data from station "USW00094728"**

In [406]:
entries = list(db["weather"].find({"st": "USW00094728"}).limit(20))
print(f"\nFound {len(entries)} item(s):")
for entry in entries:
    name = entry.get('st', 'N/A')
    print(f"- {name}")

Found 0 item(s):

**Average temperature per month for 2016**

In [407]:
pipeline = [
    {
        "$match": {
            "ts": {
                "$gte": datetime(2016, 1, 1),
                "$lt": datetime(2017, 1, 1)
            },
            "airTemperature.value": {"$ne": 999.9}
        }
    },
    {
        "$project": {
            "month": {"$month": "$ts"},
            "airTemp": "$airTemperature.value"
        }
    },
    {
        "$group": {
            "_id": "$month",
            "avgTemp": {"$avg": "$airTemp"}
        }
    },
    {
        "$sort": {"_id": 1}
    },
    {"$limit": 20}
]

results = list(db["weather"].aggregate(pipeline))
print("Average Air Temperature per month for 2016")
print(f"\nFound {len(results)} item(s):")
for result in results:
    month = result["_id"]
    avg_temp = round(result["avgTemp"], 2)
    print(f"Month {month:02d}: {avg_temp}°C")

Average Air Temperature per month for 2016

Found 0 item(s):

**Days with precipitation above 50mm**

In [408]:
pipeline = [
    {
        "$match": {
            "precipitationEstimatedObservation.estimatedWaterDepth": {
                "$gt": 50,
                "$lt": 999
            }
        }
    },
    {
        "$project": {
            "date": {"$dateToString": {"format": "%Y-%m-%d", "date": "$ts"}},
            "precip": "$precipitationEstimatedObservation.estimatedWaterDepth"
        }
    },
    {
        "$group": {
            "_id": "$date",
            "maxPrecip": {"$max": "$precip"}
        }
    },
    {
        "$sort": {"_id": 1}
    },
    {"$limit": 20}
]

results = list(db["weather"].aggregate(pipeline))
print("Days with precipitation above 50mm")
print(f"\nFound {len(results)} item(s):")
for result in results:
    print(f"{result['_id']}: {result['maxPrecip']} mm")

Days with precipitation above 50mm

Found 0 item(s):

**Measures per station**

In [409]:
pipeline = [
    {
        "$group": {
            "_id": "$st",
            "count": {"$sum": 1}
        }
    },
    {
        "$sort": {"count": -1}
    },
    {"$limit": 20}
]

results = list(db["weather"].aggregate(pipeline))
print("Measures per station")
print(f"\nFound {len(results)} item(s):")
for result in results:
    station = result["_id"]
    count = result["count"]
    print(f"{station}: {count} measures")

Measures per station

Found 20 item(s):
x+51900+003200: 61 measures
x+52200+004200: 61 measures
x+51900+003600: 59 measures
x+41800-124400: 57 measures
x+53200+003200: 53 measures
x+56400+002000: 33 measures
x+46400-048200: 23 measures
x+66500+010200: 23 measures
x+53100+002200: 23 measures
x+43700-059700: 21 measures
x+50600-002700: 21 measures
x+58300+001300: 21 measures
x+46700-048700: 20 measures
x+61000+002300: 19 measures
x+58400+000300: 19 measures
x+54700+007100: 19 measures
x+61100+001700: 18 measures
x+61200+001100: 18 measures
x+61200+001800: 18 measures
x+59500+001500: 18 measures

**Highest measured temperature per year**

In [410]:
pipeline = [
    {
        "$match": {
            "airTemperature.value": {"$exists": True, "$ne": 999.9}
        }
    },
    {
        "$addFields": {
            "year": {"$year": "$ts"}
        }
    },
    {
        "$group": {
            "_id": "$year",
            "maxTemperature": {"$max": "$airTemperature.value"},
            "measurementCount": {"$sum": 1}
        }
    },
    {
        "$sort": {"_id": 1}
    },
    {"$limit": 20}
]

results = list(db["weather"].aggregate(pipeline))
print("Highest measured temperature per year")
print(f"\nFound {len(results)} item(s):")
for result in results:
    year = result["_id"]
    max_temp = result["maxTemperature"]
    count = result["measurementCount"]
    print(f"{year}: {max_temp}°C (from {count} measurements)")

Highest measured temperature per year

Found 1 item(s):
1984: 44.4°C (from 9426 measurements)

**Top 5 movies with the most comments**

In [411]:
pipeline = [
    {
        "$group": {
            "_id": "$movie_id",
            "commentCount": {"$sum": 1}
        }
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "_id",
            "foreignField": "_id",
            "as": "movie_info"
        }
    },
    {
        "$unwind": "$movie_info"
    },
    {
        "$project": {
            "title": "$movie_info.title",
            "year": "$movie_info.year",
            "commentCount": 1,
            "imdb_rating": "$movie_info.imdb.rating"
        }
    },
    {
        "$sort": {"commentCount": -1}
    },
    {
        "$limit": 5
    },
    {"$limit": 20}
]

results = list(db["comments"].aggregate(pipeline))
print(f"Found {len(results)} movies:")
for i, result in enumerate(results, 1):
    print(f"{i}. {result['title']} ({result['year']}) - {result['commentCount']} comments")

Found 5 movies:
1. The Taking of Pelham 1 2 3 (2009) - 161 comments
2. Ocean's Eleven (2001) - 158 comments
3. Terminator Salvation (2009) - 158 comments
4. About a Boy (2002) - 158 comments
5. 50 First Dates (2004) - 158 comments

**Comments from users with tiles**

In [412]:
sample_user = db["comments"].find_one({}, {"email": 1})
user_email = sample_user["email"] if sample_user else "taylor_hill@fakegmail.com"

pipeline = [
    {
        "$match": {
            "email": user_email
        }
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "movie_id",
            "foreignField": "_id",
            "as": "movie_info"
        }
    },
    {
        "$unwind": "$movie_info"
    },
    {
        "$project": {
            "name": 1,
            "email": 1,
            "text": 1,
            "date": 1,
            "movie_title": "$movie_info.title",
            "movie_year": "$movie_info.year"
        }
    },
    {
        "$sort": {"date": -1}
    },
    {
        "$limit": 10
    }
]

results = list(db["comments"].aggregate(pipeline))
print(f"Kommentare von {user_email}:")
print(f"Found {len(results)} comments:")
for result in results:
    comment_preview = result['text'][:50] + "..." if len(result['text']) > 50 else result['text']
    print(f"{result['movie_title']} ({result['movie_year']}): {comment_preview}")

Kommentare von taylor_hill@fakegmail.com:
Found 10 comments:
The Matrix Revolutions (2003): Pariatur esse veritatis unde odio perferendis. Cor...
Shrek 2 (2004): Esse dolore odio ex officiis autem at. Perferendis...
Raiders of the Lost Ark (1981): Cupiditate reiciendis odit est illo non beatae. Om...
Anchorman: The Legend of Ron Burgundy (2004): Tempore velit rerum tempora corrupti nostrum id vo...
Zoolander (2001): Ea nam quibusdam quisquam. Minus numquam magni har...
Fantozzi alla riscossa (1990): Deleniti labore officiis hic recusandae vel quae q...
G.I. Joe: The Rise of Cobra (2009): Laborum esse delectus culpa earum molestias cumque...
Fight Club (1999): Amet architecto necessitatibus quod assumenda ipsa...
Honey, I Shrunk the Kids (1989): Amet inventore beatae tempora delectus odio. Excep...
The Stepfather (2009): Provident possimus commodi mollitia a. Molestiae h...

**Active users in the last 30 days**

In [413]:
thirty_days_ago = datetime.now() - timedelta(days=30)

pipeline = [
    {
        "$addFields": {
            "decoded_jwt": {
                "$let": {
                    "vars": {
                        "jwt_parts": {"$split": ["$jwt", "."]}
                    },
                    "in": "$$jwt_parts"
                }
            }
        }
    },
    {
        "$lookup": {
            "from": "users",
            "localField": "user_id",
            "foreignField": "email",
            "as": "user_info"
        }
    },
    {
        "$unwind": {
            "path": "$user_info",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$project": {
            "user_id": 1,
            "user_name": "$user_info.name",
            "jwt_created": 1
        }
    },
    {
        "$limit": 10
    }
]

results = list(db["sessions"].aggregate(pipeline))
print(f"Found {len(results)} active sessions:")
for result in results:
    user_name = result.get('user_name', 'Unknown User')
    print(f"{result['user_id']} ({user_name})")

Found 1 active sessions:
t3qulfeem@kwiv5.6ur (Unknown User)

**Cinemas in New York**

In [414]:
pipeline = [
    {
        "$match": {
            "location.address.city": "New York"
        }
    },
    {
        "$project": {
            "theaterId": 1,
            "address": "$location.address",
            "coordinates": "$location.geo.coordinates"
        }
    },
    {
        "$limit": 10
    }
]

results = list(db["theaters"].aggregate(pipeline))
print(f"Found {len(results)} theaters in New York:")
for result in results:
    addr = result['address']
    print(f"Theater {result['theaterId']}: {addr['street1']}, {addr['city']}, {addr['state']} {addr['zipcode']}")

Found 8 theaters in New York:
Theater 1028: 529 5th Ave, New York, NY 10017
Theater 1448: 1880 Broadway, New York, NY 10023
Theater 1531: 52 E 14th St, New York, NY 10003
Theater 1908: 750 Seventh Ave, New York, NY 10019
Theater 1906: 2 Union Square, New York, NY 10003
Theater 482: 60 West 23rd Street, New York, NY 10010
Theater 609: 622 Broadway, New York, NY 10012
Theater 835: 1280 Lexington Ave, New York, NY 10028

**Average rating per genre**

In [415]:
pipeline = [
    {
        "$match": {
            "imdb.rating": {"$exists": True, "$ne": None, "$type": "number"}
        }
    },
    {
        "$unwind": "$genres"
    },
    {
        "$group": {
            "_id": "$genres",
            "avgRating": {"$avg": "$imdb.rating"},
            "movieCount": {"$sum": 1},
            "maxRating": {"$max": "$imdb.rating"},
            "minRating": {"$min": "$imdb.rating"}
        }
    },
    {
        "$sort": {"avgRating": -1}
    },
    {
        "$limit": 15
    }
]

results = list(db["movies"].aggregate(pipeline))
print(f"Found {len(results)} genres:")
for result in results:
    print(f"{result['_id']}: avg. {result['avgRating']:.2f} ({result['movieCount']} movies, {result['minRating']}-{result['maxRating']})")

Found 15 genres:
Film-Noir: avg. 7.50 (105 movies, 6.5-8.5)
Documentary: avg. 7.37 (2119 movies, 1.6-9.5)
Short: avg. 7.36 (473 movies, 3.7-8.7)
News: avg. 7.25 (51 movies, 4.3-8.9)
History: avg. 7.20 (997 movies, 2.4-9.6)
War: avg. 7.18 (791 movies, 2.5-9.4)
Biography: avg. 7.10 (1400 movies, 2.3-9.4)
Talk-Show: avg. 7.00 (1 movies, 7-7)
Music: avg. 6.92 (840 movies, 1.6-9)
Animation: avg. 6.92 (967 movies, 2.7-9.2)
Western: avg. 6.88 (274 movies, 3.1-8.9)
Drama: avg. 6.83 (13751 movies, 1.9-9.6)
Sport: avg. 6.78 (389 movies, 2-9.1)
Crime: avg. 6.73 (2674 movies, 1.9-9.3)
Musical: avg. 6.70 (486 movies, 2.1-8.7)

**User with the most comments**

In [416]:
pipeline = [
    {
        "$group": {
            "_id": "$email",
            "name": {"$first": "$name"},
            "commentCount": {"$sum": 1},
            "lastComment": {"$max": "$date"}
        }
    },
    {
        "$sort": {"commentCount": -1}
    },
    {
        "$limit": 10
    }
]

results = list(db["comments"].aggregate(pipeline))
print(f"Found {len(results)} top commenters:")
for i, result in enumerate(results, 1):
    print(f"{i}. {result['name']} ({result['_id']}): {result['commentCount']} comments")

Found 10 top commenters:
1. Mace Tyrell (roger_ashton-griffiths@gameofthron.es): 331 comments
2. Missandei (nathalie_emmanuel@gameofthron.es): 327 comments
3. The High Sparrow (jonathan_pryce@gameofthron.es): 315 comments
4. Sansa Stark (sophie_turner@gameofthron.es): 308 comments
5. Rodrik Cassel (ron_donachie@gameofthron.es): 305 comments
6. Thoros of Myr (paul_kaye@gameofthron.es): 304 comments
7. Robert Jordan (robert_jordan@fakegmail.com): 304 comments
8. Brienne of Tarth (gwendoline_christie@gameofthron.es): 302 comments
9. Andrea Le (andrea_le@fakegmail.com): 296 comments
10. Megan Richards (megan_richards@fakegmail.com): 296 comments

**Comments word search**

In [417]:
pipeline = [
    {
        "$match": {
            "text": {"$regex": "masterpiece", "$options": "i"}
        }
    },
    {
        "$lookup": {
            "from": "movies",
            "localField": "movie_id",
            "foreignField": "_id",
            "as": "movie_info"
        }
    },
    {
        "$unwind": "$movie_info"
    },
    {
        "$group": {
            "_id": "$movie_id",
            "title": {"$first": "$movie_info.title"},
            "year": {"$first": "$movie_info.year"},
            "imdb_rating": {"$first": "$movie_info.imdb.rating"},
            "masterpieceComments": {"$sum": 1},
            "comments": {
                "$push": {
                    "text": "$text",
                    "author": "$name",
                    "date": "$date"
                }
            }
        }
    },
    {
        "$sort": {"masterpieceComments": -1}
    },
    {
        "$limit": 5
    }
]

results = list(db["comments"].aggregate(pipeline))
print(f"Found {len(results)} movies with 'masterpiece' comments:")
for result in results:
    print(f"{result['title']} ({result['year']}): {result['masterpieceComments']} 'masterpiece' comments")

Found 0 movies with 'masterpiece' comments:

**Movies with rating above 8.0 and more than 50 comments**

In [418]:
pipeline = [
    {
        "$match": {
            "imdb.rating": {"$gt": 8.5}
        }
    },
    {
        "$lookup": {
            "from": "comments",
            "localField": "_id",
            "foreignField": "movie_id",
            "as": "comments"
        }
    },
    {
        "$addFields": {
            "commentCount": {"$size": "$comments"}
        }
    },
    {
        "$match": {
            "commentCount": {"$gt": 50}
        }
    },
    {
        "$project": {
            "title": 1,
            "year": 1,
            "imdb_rating": "$imdb.rating",
            "imdb_votes": "$imdb.votes",
            "commentCount": 1,
            "genres": 1
        }
    },
    {
        "$sort": {"imdb_rating": -1}
    }
]

results = list(db["movies"].aggregate(pipeline))
print(f"Found {len(results)} high-rated movies with over 50 comments:")
for result in results:
    genres_str = ", ".join(result.get('genres', [])[:3])
    print(f"{result['title']} ({result['year']}) - rating: {result['imdb_rating']} - {result['commentCount']} comments in genre: {genres_str}")

Found 16 high-rated movies with over 50 comments:
The Shawshank Redemption (1994) - rating: 9.3 - 122 comments in genre: Crime, Drama
The Shawshank Redemption (1994) - rating: 9.3 - 131 comments in genre: Crime, Drama
The Godfather (1972) - rating: 9.2 - 131 comments in genre: Crime, Drama
The Dark Knight (2008) - rating: 9 - 136 comments in genre: Action, Crime, Drama
Pulp Fiction (1994) - rating: 8.9 - 121 comments in genre: Crime, Drama
Fight Club (1999) - rating: 8.9 - 137 comments in genre: Drama
The Lord of the Rings: The Return of the King (2003) - rating: 8.9 - 133 comments in genre: Adventure, Fantasy
Star Wars: Episode V - The Empire Strikes Back (1980) - rating: 8.8 - 115 comments in genre: Action, Adventure, Fantasy
Forrest Gump (1994) - rating: 8.8 - 136 comments in genre: Drama, Romance
The Lord of the Rings: The Fellowship of the Ring (2001) - rating: 8.8 - 114 comments in genre: Adventure, Fantasy
Star Wars: Episode IV - A New Hope (1977) - rating: 8.7 - 131 comments in genre: Action, Adventure, Fantasy
The Matrix (1999) - rating: 8.7 - 138 comments in genre: Action, Sci-Fi
The Lord of the Rings: The Two Towers (2002) - rating: 8.7 - 127 comments in genre: Adventure, Fantasy
Raiders of the Lost Ark (1981) - rating: 8.6 - 126 comments in genre: Action, Adventure
The Silence of the Lambs (1991) - rating: 8.6 - 121 comments in genre: Crime, Drama, Thriller
Saving Private Ryan (1998) - rating: 8.6 - 144 comments in genre: Action, Drama, War